aria-agent-swarm/workflows/05_finance-tracker.json
{
  "name": "💰 Sub-Agente: Finance Tracker",
  "nodes": [
    {"id":"trigger_finance","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[100,300],"parameters":{}},
    {"id":"llm_finance","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[400,100],"onError":"continueRegularOutput","parameters":{"model":"gpt-4o","options":{"temperature":0.1}}},
    {"id":"agent_finance","name":"Finance Tracker Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,300],"parameters":{"promptType":"define","text":"={{ $json.query }}","systemMessage":"Você é um especialista em finanças pessoais e empresariais. Registre despesas e receitas, analise fluxo de caixa, calcule impostos brasileiros, gere relatórios e converta moedas. Use BRL por padrão. Responda em português do Brasil.","options":{"maxIterations":6}}},
    {"id":"postgres_finance_tool2","name":"Postgres Finance Tool","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[650,100],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"parameters":{"method":"POST","url":"http://localhost:5678/webhook/finance-db","toolDescription":"Salva e recupera transacoes financeiras no Postgres. Use para: registrar receitas e despesas, consultar historico por categoria ou periodo, calcular totais e gerar relatorios. Envie operation (save | report | list), amount, category, description e date.","sendBody":true,"specifyBody":"json","jsonBody":"{\"operation\":\"save\",\"amount\":0,\"category\":\"\",\"description\":\"\",\"date\":\"\"}"}},
    {"id":"exchange_tool","name":"Exchange Rate Tool","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[650,250],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"parameters":{"method":"GET","url":"https://api.exchangerate-api.com/v4/latest/{base_currency}","toolDescription":"Obtém cotações de moedas em tempo real. Use para converter valores entre USD, EUR, BRL, GBP e outras moedas.","placeholderDefinitions":{"values":[{"name":"base_currency","description":"Moeda base (ex: USD, BRL, EUR)"}]}}},
    {"id":"format_output_finance","name":"Format Finance Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,300],"parameters":{"assignments":{"assignments":[{"id":"out1","name":"response","value":"={{ $json.output }}","type":"string"},{"id":"out2","name":"agent","value":"Finance Tracker","type":"string"}]}}}
  ],
  "connections": {
    "Execute Workflow Trigger":{"main":[[{"node":"Finance Tracker Agent","type":"main","index":0}]]},
    "Finance Tracker Agent":{"main":[[{"node":"Format Finance Response","type":"main","index":0}]]},
    "OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Finance Tracker Agent","type":"ai_languageModel","index":0}]]},
    "Postgres Finance Tool":{"ai_tool":[[{"node":"Finance Tracker Agent","type":"ai_tool","index":0}]]},
    "Exchange Rate Tool":{"ai_tool":[[{"node":"Finance Tracker Agent","type":"ai_tool","index":0}]]}
  },
  "settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"}
}
