01_orquestrador-principal.json
{
  "name": "🤖 Orquestrador Principal - AI Agent Swarm",
  "nodes": [
    {"id":"wa_trigger","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[100,400],"parameters":{"updates":["messages"],"options":{}}},
    {"id":"check_type","name":"Check Message Type","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[350,400],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"c1","leftValue":"={{ $json.body.entry[0].changes[0].value.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},
    {"id":"dl_audio","name":"Download WhatsApp Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[600,200],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"parameters":{"method":"GET","url":"=https://graph.facebook.com/v19.0/{{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.WHATSAPP_TOKEN }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}}},
    {"id":"elevenlabs_stt","name":"ElevenLabs STT Transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[850,200],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/speech-to-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $env.ELEVENLABS_API_KEY }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ $binary.data }}","parameterType":"formBinaryData"},{"name":"model_id","value":"scribe_v1"}]},"options":{}}},
    {"id":"set_voice_text","name":"Set Voice Input Text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,200],"parameters":{"assignments":{"assignments":[{"id":"sv1","name":"userMessage","value":"={{ $json.text }}","type":"string"},{"id":"sv2","name":"messageType","value":"voice","type":"string"},{"id":"sv3","name":"phoneNumber","value":"={{ $('WhatsApp Trigger').item.json.body.entry[0].changes[0].value.messages[0].from }}","type":"string"}]}}},
    {"id":"set_text_msg","name":"Set Text Message","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,600],"parameters":{"assignments":{"assignments":[{"id":"st1","name":"userMessage","value":"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}","type":"string"},{"id":"st2","name":"messageType","value":"text","type":"string"},{"id":"st3","name":"phoneNumber","value":"={{ $json.body.entry[0].changes[0].value.messages[0].from }}","type":"string"}]}}},
    {"id":"prepare_input","name":"Prepare Orchestrator Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1350,400],"parameters":{"assignments":{"assignments":[{"id":"pi1","name":"chatInput","value":"={{ $json.userMessage }}","type":"string"},{"id":"pi2","name":"sessionId","value":"={{ $json.phoneNumber }}","type":"string"},{"id":"pi3","name":"phoneNumber","value":"={{ $json.phoneNumber }}","type":"string"},{"id":"pi4","name":"messageType","value":"={{ $json.messageType }}","type":"string"}]}}},
    {"id":"main_agent","name":"Main Orchestrator Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1650,400],"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","systemMessage":"Você é ARIA (Artificial Reasoning Intelligence Assistant), um orquestrador de IA avançado acessado via WhatsApp.\n\nVocê gerencia uma equipe de agentes especializados:\n📧 EMAIL MANAGER - Para tudo sobre emails: leitura, redação, organização, respostas\n🔍 RESEARCH - Para pesquisas, análise de dados, verificação de fatos, tendências\n✍️ CONTENT CREATOR - Para criar posts, artigos, copy, roteiros, conteúdo criativo\n💰 FINANCE TRACKER - Para controle financeiro, despesas, relatórios, câmbio\n📅 CALENDAR - Para agenda, eventos, reuniões, lembretes\n\nRegras:\n1. Analise o pedido e acione o(s) agente(s) correto(s)\n2. Pode acionar múltiplos agentes em sequência quando necessário\n3. Sintetize respostas de forma coerente\n4. Mantenha contexto usando memória\n5. Responda sempre em Português do Brasil\n6. Seja conciso mas completo (mensagem WhatsApp)\n7. Use emojis com moderação\n8. Se a mensagem for de voz transcrita, mencione isso\n9. Seja proativo e sugira próximos passos quando relevante","options":{"maxIterations":10}}},
    {"id":"llm_orchestrator","name":"GPT-4o Orchestrator","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1400,150],"onError":"continueRegularOutput","parameters":{"model":"gpt-4o","options":{"temperature":0.5,"maxTokens":2000}}},
    {"id":"pg_memory","name":"Postgres Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1650,150],"retryOnFail":true,"maxTries":3,"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Prepare Orchestrator Input').item.json.sessionId }}","tableName":"aria_chat_history"}},
    {"id":"tool_email","name":"Tool Email Manager","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1900,50],"parameters":{"description":"Agente de email. Use para: ler, redigir, organizar emails, criar filtros, resumir caixa de entrada, agendar envios.","source":"database","workflowId":{"__rl":true,"value":"vS4xNI0ay4TRbdKe","mode":"list","cachedResultName":"Sub-Agente Email Manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'A tarefa ou pergunta para o agente de email', 'string') }}"},"schema":[{"id":"query","displayName":"query","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"toolDescription":"Agente especialista em emails. Use para: ler emails, redigir respostas profissionais, organizar caixa de entrada, criar filtros e etiquetas, resumir emails importantes, agendar envios e qualquer tarefa de gerenciamento de email."}},
    {"id":"tool_research","name":"Tool Research","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1900,200],"parameters":{"description":"Agente de pesquisa. Use para: pesquisar na web, verificar fatos, analisar tendências, sintetizar informações.","source":"database","workflowId":{"__rl":true,"value":"q7NUrgfV2GoSHJ4q","mode":"list","cachedResultName":"Sub-Agente Research"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'O tópico ou pergunta para pesquisar', 'string') }}"},"schema":[{"id":"query","displayName":"query","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"toolDescription":"Agente especialista em pesquisa e analise. Use para: pesquisar topicos na web, verificar fatos, analisar tendencias, sintetizar informacoes de multiplas fontes e produzir relatorios de pesquisa detalhados."}},
    {"id":"tool_content","name":"Tool Content Creator","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1900,350],"parameters":{"description":"Agente criativo. Use para: criar posts, artigos, copy, roteiros, hashtags, conteúdo para redes sociais.","source":"database","workflowId":{"__rl":true,"value":"kbZbX9Hf7PSHcNxG","mode":"list","cachedResultName":"Sub-Agente Content Creator"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'A solicitação de conteúdo com detalhes', 'string') }}"},"schema":[{"id":"query","displayName":"query","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"toolDescription":"Agente especialista em criacao de conteudo. Use para: criar posts para redes sociais, escrever artigos de blog, produzir copy de marketing, criar roteiros de video, legendas, hashtags e qualquer conteudo criativo ou de marketing."}},
    {"id":"tool_finance","name":"Tool Finance Tracker","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1900,500],"parameters":{"description":"Agente financeiro. Use para: registrar despesas/receitas, relatórios financeiros, conversão de moedas, análise de orçamento.","source":"database","workflowId":{"__rl":true,"value":"r01AY0GpxU7dHwDZ","mode":"list","cachedResultName":"Sub-Agente Finance Tracker"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'A tarefa ou consulta financeira', 'string') }}"},"schema":[{"id":"query","displayName":"query","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"toolDescription":"Agente especialista em financas. Use para: registrar despesas e receitas, analisar fluxo de caixa, gerar relatorios financeiros, converter moedas, calcular impostos brasileiros e monitorar orcamento pessoal ou empresarial."}},
    {"id":"tool_calendar","name":"Tool Calendar","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1900,650],"parameters":{"description":"Agente de agenda. Use para: criar eventos, verificar disponibilidade, agendar reuniões, enviar convites, gerenciar compromissos.","source":"database","workflowId":{"__rl":true,"value":"4srQMSuZ2M0XJgmU","mode":"list","cachedResultName":"Sub-Agente Calendar"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'O evento ou consulta de agenda', 'string') }}"},"schema":[{"id":"query","displayName":"query","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"toolDescription":"Agente especialista em agenda e calendario. Use para: criar e editar eventos, verificar disponibilidade, agendar reunioes, enviar convites, gerenciar compromissos recorrentes e calcular fusos horarios para reunioes internacionais."}},
    {"id":"send_wa_text","name":"Send WhatsApp Text Response","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2000,400],"parameters":{"resource":"message","operation":"send","phoneNumberId":"={{ $env.WHATSAPP_PHONE_ID }}","recipientPhoneNumber":"={{ $('Prepare Orchestrator Input').item.json.phoneNumber }}","textBody":"={{ $json.output }}","additionalFields":{}}},
    {"id":"elevenlabs_tts","name":"ElevenLabs TTS Voice Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2200,400],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $env.ELEVENLABS_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $('Main Orchestrator Agent').item.json.output, model_id: 'eleven_multilingual_v2', voice_settings: { stability: 0.5, similarity_boost: 0.8, style: 0.2 } }) }}","options":{"response":{"response":{"responseFormat":"file"}}}}},
    {"id":"send_wa_audio","name":"Send WhatsApp Voice Response","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2400,400],"parameters":{"resource":"message","operation":"send","phoneNumberId":"={{ $env.WHATSAPP_PHONE_ID }}","recipientPhoneNumber":"={{ $('Prepare Orchestrator Input').item.json.phoneNumber }}","textBody":"🎙️ Resposta em áudio gerada!","additionalFields":{}}}
  ],
  "connections": {
    "WhatsApp Trigger":{"main":[[{"node":"Check Message Type","type":"main","index":0}]]},
    "Check Message Type":{"main":[[{"node":"Download WhatsApp Audio","type":"main","index":0}],[{"node":"Set Text Message","type":"main","index":0}]]},
    "Download WhatsApp Audio":{"main":[[{"node":"ElevenLabs STT Transcribe","type":"main","index":0}]]},
    "ElevenLabs STT Transcribe":{"main":[[{"node":"Set Voice Input Text","type":"main","index":0}]]},
    "Set Voice Input Text":{"main":[[{"node":"Prepare Orchestrator Input","type":"main","index":0}]]},
    "Set Text Message":{"main":[[{"node":"Prepare Orchestrator Input","type":"main","index":0}]]},
    "Prepare Orchestrator Input":{"main":[[{"node":"Main Orchestrator Agent","type":"main","index":0}]]},
    "Main Orchestrator Agent":{"main":[[{"node":"Send WhatsApp Text Response","type":"main","index":0}]]},
    "Send WhatsApp Text Response":{"main":[[{"node":"ElevenLabs TTS Voice Response","type":"main","index":0}]]},
    "ElevenLabs TTS Voice Response":{"main":[[{"node":"Send WhatsApp Voice Response","type":"main","index":0}]]},
    "GPT-4o Orchestrator":{"ai_languageModel":[[{"node":"Main Orchestrator Agent","type":"ai_languageModel","index":0}]]},
    "Postgres Memory":{"ai_memory":[[{"node":"Main Orchestrator Agent","type":"ai_memory","index":0}]]},
    "Tool Email Manager":{"ai_tool":[[{"node":"Main Orchestrator Agent","type":"ai_tool","index":0}]]},
    "Tool Research":{"ai_tool":[[{"node":"Main Orchestrator Agent","type":"ai_tool","index":0}]]},
    "Tool Content Creator":{"ai_tool":[[{"node":"Main Orchestrator Agent","type":"ai_tool","index":0}]]},
    "Tool Finance Tracker":{"ai_tool":[[{"node":"Main Orchestrator Agent","type":"ai_tool","index":0}]]},
    "Tool Calendar":{"ai_tool":[[{"node":"Main Orchestrator Agent","type":"ai_tool","index":0}]]}
  },
  "settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"}
}
