multi-Modal content factory/workflows/1_pipeline_principal.json
{
  "name": "🏭 Content Factory — Pipeline Principal",
  "active": false,
  "meta": {
    "author": "Lucas Pontes Imeme",
    "version": "1.0.0",
    "description": "Multi-Modal Content Factory — Pipeline Principal. Recebe um tópico ou URL via webhook POST, pesquisa contexto com Tavily (tópico) ou Jina (URL), gera copy para LinkedIn e Instagram com Claude Sonnet 4.6, cria imagem profissional com Flux 1.1 Pro via Replicate, chama o sub-workflow Publicador Social e notifica no Telegram.",
    "setup": {
      "variables_required": [
        "TAVILY_API_KEY — tavily.com → API Keys",
        "REPLICATE_API_TOKEN — replicate.com → Account Settings",
        "CONTENT_FACTORY_SHEET_ID — ID da planilha Google Sheets (da URL)",
        "TELEGRAM_CHAT_ID — use @get_id_bot no Telegram"
      ],
      "credentials_required": [
        "Google Sheets OAuth2",
        "Telegram Bot API",
        "Anthropic API (Claude)"
      ],
      "post_import": "Após importar os 3 workflows, atualize o campo 'workflowId' do nó 'Execute Sub-Workflow — Publicador' com o ID gerado na sua instância para o workflow 📅 Content Factory — Publicador Social.",
      "activation": "NÃO ativar este workflow. Ele é acionado via webhook POST /content-factory."
    }
  },
  "nodes": [
    {
      "id": "main-1",
      "name": "Webhook — Receber Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "path": "content-factory",
        "responseMode": "responseNode",
        "options": { "onError": "continueRegularOutput" }
      }
    },
    {
      "id": "main-2",
      "name": "Set — Normalizar Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "topic",       "value": "={{$json.body.topic || $json.body.subject || 'Inovação em IA'}}", "type": "string" },
            { "id": "2", "name": "input_url",   "value": "={{$json.body.url || ''}}", "type": "string" },
            { "id": "3", "name": "tone",        "value": "={{$json.body.tone || 'profissional, engajante e humano'}}", "type": "string" },
            { "id": "4", "name": "language",    "value": "={{$json.body.language || 'pt-BR'}}", "type": "string" },
            { "id": "5", "name": "niche",       "value": "={{$json.body.niche || 'tecnologia e negócios'}}", "type": "string" },
            { "id": "6", "name": "brand_voice", "value": "={{$json.body.brand_voice || 'inovadora, direta e inspiradora'}}", "type": "string" },
            { "id": "7", "name": "session_id",  "value": "={{'cf_' + $now.toMillis()}}", "type": "string" },
            { "id": "8", "name": "created_at",  "value": "={{new Date().toISOString()}}", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "main-3",
      "name": "IF — URL ou Tópico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [640, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "1", "leftValue": "={{$json.input_url}}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }
          ]
        }
      }
    },
    {
      "id": "main-4",
      "name": "HTTP — Jina Scrape URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [860, 180],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "=https://r.jina.ai/{{$json.input_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "text/plain" },
            { "name": "X-Return-Format", "value": "text" }
          ]
        },
        "options": { "ignoreResponseCode": true }
      }
    },
    {
      "id": "main-5",
      "name": "HTTP — Tavily Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [860, 420],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"api_key\": \"{{$vars.TAVILY_API_KEY}}\", \"query\": \"{{$('Set — Normalizar Input').first().json.topic}} {{$('Set — Normalizar Input').first().json.niche}} 2025 2026\", \"search_depth\": \"advanced\", \"max_results\": 5, \"include_answer\": true, \"include_raw_content\": false}",
        "options": { "ignoreResponseCode": true }
      }
    },
    {
      "id": "main-6",
      "name": "Code — Preparar Contexto Pesquisa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst nd = $('Set — Normalizar Input').first().json;\nlet rc = '';\nif (item.results && Array.isArray(item.results)) {\n  rc = `RESPOSTA DIRETA: ${item.answer || 'N/A'}\\n\\nFONTES:\\n`;\n  item.results.forEach((r, i) => {\n    rc += `\\n[${i+1}] TÍTULO: ${r.title}\\nCONTEÚDO: ${r.content?.substring(0, 600)}\\nURL: ${r.url}\\n`;\n  });\n} else {\n  const c = typeof item === 'string' ? item : (item.data || item.text || JSON.stringify(item));\n  rc = `CONTEÚDO DA URL:\\n${c.toString().substring(0, 6000)}`;\n}\nreturn [{ json: { ...nd, research_content: rc.substring(0, 7000), research_ready: true } }];"
      }
    },
    {
      "id": "main-7",
      "name": "HTTP — Replicate Flux Iniciar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1300, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-1.1-pro/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Token {{$vars.REPLICATE_API_TOKEN}}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "wait" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"input\":{\"prompt\":\"Professional high-quality marketing photo for social media about: {{$json.topic}}. Modern corporate photography, bright lighting, {{$json.niche}} industry, ultra-realistic, 4k, no text, no logos\",\"width\":1344,\"height\":768,\"output_format\":\"webp\",\"output_quality\":90,\"safety_tolerance\":2}}",
        "options": { "ignoreResponseCode": true }
      }
    },
    {
      "id": "main-8",
      "name": "AI Agent — Gerar Conteúdo Multi-Plataforma",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1520, 300],
      "parameters": {
        "agent": "conversationalAgent",
        "text": "=Você é um copywriter sênior especializado em marketing digital. Crie conteúdo de alta conversão para múltiplas plataformas.\n\nTÓPICO: {{$json.topic}}\nNICHO: {{$json.niche}}\nTOM DE VOZ: {{$json.tone}}\nIDIOMA: {{$json.language}}\nBRAND VOICE: {{$json.brand_voice}}\n\nPESQUISA BASE:\n{{$json.research_content}}\n\nCrie o conteúdo e retorne APENAS um JSON válido com exatamente esta estrutura (sem markdown, sem ```json, apenas o objeto JSON puro):\n{\"linkedin\":{\"text\":\"Post LinkedIn profissional até 1300 chars. Comece com gancho forte. Termine com CTA. Inclua 3-5 hashtags no final.\",\"hashtags\":[]},\"instagram\":{\"caption\":\"Caption Instagram até 2200 chars. Story-telling emocional. Emojis estratégicos. CTA forte. 15-25 hashtags ao final.\",\"stories\":[\"Slide 1: dado impactante\",\"Slide 2: ponto principal\",\"Slide 3: CTA\"],\"hashtags\":[]},\"meta_strategy\":{\"hook\":\"Gancho principal\",\"value_proposition\":\"Proposta de valor\",\"best_post_time\":\"HH:MM\",\"predicted_engagement_score\":7.5},\"image_prompt_en\":\"Detailed prompt in English for Flux AI\"}",
        "options": {
          "systemMessage": "Você é um copywriter sênior de marketing digital. SEMPRE retorne APENAS JSON puro válido, sem nenhum texto fora do JSON, sem markdown."
        }
      }
    },
    {
      "id": "main-claude",
      "name": "Claude Sonnet — Content Generator",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1520, 500],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": { "maxTokens": 4096, "temperature": 0.75 }
      }
    },
    {
      "id": "main-9",
      "name": "Code — Parsear Conteúdo AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst nd = $('Set — Normalizar Input').first().json;\nconst rep = $('HTTP — Replicate Flux Iniciar').first().json;\nlet content = {};\ntry {\n  const ao = item.output || item.text || JSON.stringify(item);\n  const cl = ao.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const m = cl.match(/\\{[\\s\\S]*\\}/);\n  content = m ? JSON.parse(m[0]) : {};\n} catch(e) {\n  content = { linkedin: { text: 'Erro ao gerar', hashtags: [] }, instagram: { caption: 'Erro', stories: [], hashtags: [] }, meta_strategy: { predicted_engagement_score: 5, best_post_time: '09:00' } };\n}\nreturn [{ json: { session_id: nd.session_id, topic: nd.topic, niche: nd.niche, tone: nd.tone, language: nd.language, brand_voice: nd.brand_voice, linkedin_post: content.linkedin || {}, instagram_post: content.instagram || {}, meta_strategy: content.meta_strategy || {}, image_prompt_en: content.image_prompt_en || '', image_prediction_id: rep.id || '', image_status: rep.status || 'starting', created_at: nd.created_at, status: 'generating' } }];"
      }
    },
    {
      "id": "main-10",
      "name": "Wait — 50s Aguardar Imagem",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1960, 300],
      "parameters": { "amount": 90, "unit": "seconds" }
    },
    {
      "id": "main-11",
      "name": "HTTP — Replicate Buscar Resultado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2180, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "=https://api.replicate.com/v1/predictions/{{$json.image_prediction_id}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Token {{$vars.REPLICATE_API_TOKEN}}" }] },
        "options": { "ignoreResponseCode": true }
      }
    },
    {
      "id": "main-12",
      "name": "Code — Montar Payload Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst c = $('Code — Parsear Conteúdo AI').first().json;\nlet imageUrl = null;\nif (r.output) { imageUrl = Array.isArray(r.output) ? r.output[0] : r.output; }\nconst lt = c.linkedin_post.text || '';\nconst lh = (c.linkedin_post.hashtags || []).map(h => `#${h.replace('#', '')}`).join(' ');\nconst ic = c.instagram_post.caption || '';\nconst ih = (c.instagram_post.hashtags || []).map(h => `#${h.replace('#', '')}`).join(' ');\nreturn [{ json: { ...c, linkedin_post: { ...c.linkedin_post, text: lh ? `${lt}\\n\\n${lh}` : lt }, instagram_post: { ...c.instagram_post, caption: ih ? `${ic}\\n\\n${ih}` : ic }, image_url: imageUrl, image_ready: !!imageUrl, status: 'ready_to_publish', predicted_score: c.meta_strategy?.predicted_engagement_score || 7 } }];"
      }
    },
    {
      "id": "main-13",
      "name": "Google Sheets — Salvar Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2620, 300],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{$vars.CONTENT_FACTORY_SHEET_ID}}", "mode": "id" },
        "sheetName":  { "__rl": true, "value": "Posts", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id":    "={{$json.session_id}}",
            "topic":         "={{$json.topic}}",
            "niche":         "={{$json.niche}}",
            "tone":          "={{$json.tone}}",
            "linkedin_text": "={{$json.linkedin_post.text}}",
            "instagram_caption": "={{$json.instagram_post.caption}}",
            "instagram_stories": "={{JSON.stringify($json.instagram_post.stories || [])}}",
            "image_url":     "={{$json.image_url || ''}}",
            "image_ready":   "={{$json.image_ready}}",
            "meta_hook":     "={{$json.meta_strategy.hook || ''}}",
            "predicted_score":   "={{$json.predicted_score}}",
            "best_post_time":    "={{$json.meta_strategy.best_post_time || '09:00'}}",
            "status":        "ready_to_publish",
            "created_at":    "={{$json.created_at}}",
            "linkedin_post_id":  "",
            "instagram_post_id": "",
            "published_at":  "",
            "analyzed_at":   "",
            "actual_score":  "0",
            "optimized_prompt_instructions": ""
          }
        },
        "options": {}
      }
    },
    {
      "id": "main-14",
      "name": "Execute Sub-Workflow — Publicador",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2840, 300],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "SUBSTITUIR_PELO_ID_DO_PUBLICADOR_APOS_IMPORT",
          "mode": "id"
        },
        "waitForSubWorkflow": true,
        "fields": {
          "values": [{ "name": "post_data", "stringValue": "={{JSON.stringify($json)}}", "type": "string" }]
        }
      }
    },
    {
      "id": "main-15",
      "name": "Telegram — Notificar Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3060, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$vars.TELEGRAM_CHAT_ID}}",
        "text": "=Content Factory - Post Publicado!\n\nTopico: {{$('Code — Montar Payload Final').first().json.topic}}\nNicho: {{$('Code — Montar Payload Final').first().json.niche}}\nScore Previsto: {{$('Code — Montar Payload Final').first().json.predicted_score}}/10\nImagem: {{$('Code — Montar Payload Final').first().json.image_ready ? 'Gerada com Flux AI' : 'Nao gerada'}}\n\nLinkedIn: Publicado\nInstagram: Publicado\n\nAnalise de performance em 24h\nID: {{$('Code — Montar Payload Final').first().json.session_id}}",
        "additionalFields": {}
      }
    },
    {
      "id": "main-16",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [3280, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, session_id: $('Code — Montar Payload Final').first().json.session_id, topic: $('Code — Montar Payload Final').first().json.topic, image_url: $('Code — Montar Payload Final').first().json.image_url || null, predicted_score: $('Code — Montar Payload Final').first().json.predicted_score || 0, message: 'Conteudo gerado e publicado com sucesso! Analise de performance em 24h.' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook — Receber Input":                    { "main": [[{ "node": "Set — Normalizar Input", "type": "main", "index": 0 }]] },
    "Set — Normalizar Input":                     { "main": [[{ "node": "IF — URL ou Tópico?", "type": "main", "index": 0 }]] },
    "IF — URL ou Tópico?":                        { "main": [[{ "node": "HTTP — Jina Scrape URL", "type": "main", "index": 0 }], [{ "node": "HTTP — Tavily Research", "type": "main", "index": 0 }]] },
    "HTTP — Jina Scrape URL":                     { "main": [[{ "node": "Code — Preparar Contexto Pesquisa", "type": "main", "index": 0 }]] },
    "HTTP — Tavily Research":                     { "main": [[{ "node": "Code — Preparar Contexto Pesquisa", "type": "main", "index": 0 }]] },
    "Code — Preparar Contexto Pesquisa":          { "main": [[{ "node": "HTTP — Replicate Flux Iniciar", "type": "main", "index": 0 }]] },
    "HTTP — Replicate Flux Iniciar":              { "main": [[{ "node": "AI Agent — Gerar Conteúdo Multi-Plataforma", "type": "main", "index": 0 }]] },
    "Claude Sonnet — Content Generator":          { "ai_languageModel": [[{ "node": "AI Agent — Gerar Conteúdo Multi-Plataforma", "type": "ai_languageModel", "index": 0 }]] },
    "AI Agent — Gerar Conteúdo Multi-Plataforma": { "main": [[{ "node": "Code — Parsear Conteúdo AI", "type": "main", "index": 0 }]] },
    "Code — Parsear Conteúdo AI":                 { "main": [[{ "node": "Wait — 50s Aguardar Imagem", "type": "main", "index": 0 }]] },
    "Wait — 50s Aguardar Imagem":                 { "main": [[{ "node": "HTTP — Replicate Buscar Resultado", "type": "main", "index": 0 }]] },
    "HTTP — Replicate Buscar Resultado":          { "main": [[{ "node": "Code — Montar Payload Final", "type": "main", "index": 0 }]] },
    "Code — Montar Payload Final":                { "main": [[{ "node": "Google Sheets — Salvar Post", "type": "main", "index": 0 }]] },
    "Google Sheets — Salvar Post":                { "main": [[{ "node": "Execute Sub-Workflow — Publicador", "type": "main", "index": 0 }]] },
    "Execute Sub-Workflow — Publicador":          { "main": [[{ "node": "Telegram — Notificar Sucesso", "type": "main", "index": 0 }]] },
    "Telegram — Notificar Sucesso":               { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
