multi-Modal content factory/workflows/3_analise_auto_otimizacao.json
{
  "name": "📊 Content Factory — Análise & Auto-Otimização",
  "active": false,
  "meta": {
    "author": "Lucas Pontes Imeme",
    "version": "1.0.0",
    "description": "Workflow de análise diária do Content Factory. Roda às 9h, coleta métricas reais de posts publicados 24h+ atrás via LinkedIn Analytics e Instagram Insights, consolida um engagement score ponderado, manda para o Claude Sonnet analisar e gera instruções de otimização para o próximo post. Salva tudo no Google Sheets e envia relatório no Telegram.",
    "setup": {
      "variables_required": [
        "LINKEDIN_ACCESS_TOKEN — OAuth token com permissão r_organization_social",
        "LINKEDIN_ORG_ID — ID numérico da sua página de empresa no LinkedIn",
        "INSTAGRAM_ACCESS_TOKEN — Token de acesso Meta Graph API (precisa de instagram_manage_insights)",
        "CONTENT_FACTORY_SHEET_ID — ID da planilha Google Sheets (da URL)",
        "TELEGRAM_CHAT_ID — use @get_id_bot no Telegram"
      ],
      "credentials_required": [
        "Google Sheets OAuth2",
        "Telegram Bot API",
        "Anthropic API (Claude)"
      ],
      "activation": "ATIVAR este workflow no painel. Ele roda automaticamente todo dia às 9h via Schedule Trigger."
    }
  },
  "nodes": [
    {
      "id": "opt-1",
      "name": "Schedule — Análise Diária 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "triggerAtHour": 9, "triggerAtMinute": 0 }]
        }
      }
    },
    {
      "id": "opt-2",
      "name": "Google Sheets — Ler Posts Publicados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [420, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "={{$vars.CONTENT_FACTORY_SHEET_ID}}", "mode": "id" },
        "sheetName":  { "__rl": true, "value": "Posts", "mode": "name" },
        "range": "A:Z",
        "filtersUI": {
          "values": [{ "lookupColumn": "status", "lookupValue": "published" }]
        },
        "options": { "returnAllMatches": true }
      }
    },
    {
      "id": "opt-3",
      "name": "Code — Filtrar Posts 24h+",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst d1 = new Date(now.getTime() - 24 * 60 * 60 * 1000);\nconst d7 = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\nconst posts = items.filter(item => {\n  const pa = item.json.published_at ? new Date(item.json.published_at) : null;\n  const aa = item.json.analyzed_at && item.json.analyzed_at !== '';\n  const hasLi = item.json.linkedin_post_id && !item.json.linkedin_post_id.startsWith('linkedin_error');\n  return pa && pa < d1 && pa > d7 && !aa && hasLi;\n});\nconsole.log('[Filtro] Posts totais:', items.length, '| Para analisar:', posts.length);\nif (posts.length === 0) {\n  return [{ json: { no_posts: true, message: 'Nenhum post para analisar hoje.', total_posts: items.length } }];\n}\nreturn posts;"
      }
    },
    {
      "id": "opt-4",
      "name": "IF — Há Posts Para Analisar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [860, 300],
      "onError": "continueErrorOutput",
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": false, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            { "id": "1", "leftValue": "={{$json.no_posts}}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ]
        }
      }
    },
    {
      "id": "opt-5",
      "name": "HTTP — LinkedIn Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1080, 160],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "=https://api.linkedin.com/v2/organizationalEntityShareStatistics?q=organizationalEntity&organizationalEntity=urn:li:organization:{{$vars.LINKEDIN_ORG_ID}}&shares[0]={{$json.linkedin_post_id}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$vars.LINKEDIN_ACCESS_TOKEN}}" }] },
        "options": { "ignoreResponseCode": true }
      }
    },
    {
      "id": "opt-6",
      "name": "HTTP — Instagram Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1080, 440],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{$json.instagram_post_id}}/insights?metric=likes,comments,shares,reach,impressions&access_token={{$vars.INSTAGRAM_ACCESS_TOKEN}}",
        "options": { "ignoreResponseCode": true }
      }
    },
    {
      "id": "opt-merge",
      "name": "Merge — Aguardar Analytics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1300, 300],
      "parameters": { "mode": "append", "numberInputs": 2 }
    },
    {
      "id": "opt-7",
      "name": "Code — Consolidar Métricas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const all = $input.all();\nconst m = { linkedin: null, instagram: null };\nall.forEach(item => {\n  const d = item.json;\n  if (d.elements && Array.isArray(d.elements)) {\n    const s = d.elements[0]?.totalShareStatistics || {};\n    m.linkedin = { likes: s.likeCount || 0, comments: s.commentCount || 0, shares: s.shareCount || 0, impressions: s.impressionCount || 0, clicks: s.clickCount || 0 };\n  } else if (d.data && Array.isArray(d.data)) {\n    const metrics = {};\n    d.data.forEach(x => { metrics[x.name] = x.values?.[0]?.value ?? x.value ?? 0; });\n    m.instagram = { likes: metrics.likes || 0, comments: metrics.comments || 0, shares: metrics.shares || 0, reach: metrics.reach || 0, impressions: metrics.impressions || 0 };\n  }\n});\nif (!m.linkedin)  m.linkedin  = { likes: 0, comments: 0, shares: 0, impressions: 0, clicks: 0 };\nif (!m.instagram) m.instagram = { likes: 0, comments: 0, shares: 0, reach: 0, impressions: 0 };\nconst ti = (m.linkedin.likes * 2) + (m.linkedin.comments * 5) + (m.linkedin.shares * 10) + (m.instagram.likes) + (m.instagram.comments * 3) + (m.instagram.shares * 7);\nconst tr = Math.max(m.linkedin.impressions + m.instagram.reach, 1);\nconst es = Math.round((ti / tr) * 10000) / 100;\nreturn [{ json: { linkedin_metrics: m.linkedin, instagram_metrics: m.instagram, engagement_score: es, total_interactions: ti, total_reach: tr, analyzed_at: new Date().toISOString() } }];"
      }
    },
    {
      "id": "opt-8",
      "name": "AI Agent — Analisar Performance",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1740, 300],
      "parameters": {
        "agent": "conversationalAgent",
        "text": "=Analise as métricas e retorne SOMENTE JSON puro válido:\n\nLINKEDIN: Curtidas={{$json.linkedin_metrics.likes}} | Comentários={{$json.linkedin_metrics.comments}} | Shares={{$json.linkedin_metrics.shares}} | Impressões={{$json.linkedin_metrics.impressions}}\nINSTAGRAM: Curtidas={{$json.instagram_metrics.likes}} | Comentários={{$json.instagram_metrics.comments}} | Alcance={{$json.instagram_metrics.reach}}\nSCORE: {{$json.engagement_score}}% | Interações: {{$json.total_interactions}}\n\n{\"performance_rating\":\"ruim|regular|bom|otimo\",\"score_real\":7.5,\"insights\":\"analise detalhada\",\"top_problem\":\"principal problema identificado\",\"optimized_prompt_instructions\":\"instrucoes especificas para o proximo post\",\"best_posting_time\":\"09:00\",\"recommended_content_type\":\"carrossel|imagem|video|texto\",\"hashtag_strategy\":\"estrategia de hashtags\",\"next_topic_suggestion\":\"topico sugerido\"}",
        "options": {
          "systemMessage": "Analista de marketing digital sênior. RETORNE APENAS JSON PURO VÁLIDO sem texto externo, sem markdown, sem blocos de código."
        }
      }
    },
    {
      "id": "opt-claude",
      "name": "Claude Sonnet — Optimizer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1740, 500],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": { "maxTokens": 2048, "temperature": 0.3 }
      }
    },
    {
      "id": "opt-9",
      "name": "Code — Parsear Recomendações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 300],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet md = {};\ntry { md = $('Code — Consolidar Métricas').first().json; } catch(e) {}\nlet a = {};\ntry {\n  const ao = item.output || item.text || JSON.stringify(item);\n  const cl = ao.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const m = cl.match(/\\{[\\s\\S]*\\}/);\n  if (m) a = JSON.parse(m[0]);\n} catch(e) {\n  a = { performance_rating: 'indefinido', score_real: 5, insights: 'Análise indisponível', top_problem: 'N/A', optimized_prompt_instructions: 'Manter estratégia atual', best_posting_time: '09:00', recommended_content_type: 'imagem', hashtag_strategy: 'hashtags do nicho', next_topic_suggestion: 'Tendências do setor' };\n}\nreturn [{ json: { ...a, linkedin_metrics: md.linkedin_metrics || {}, instagram_metrics: md.instagram_metrics || {}, engagement_score: md.engagement_score || 0, total_interactions: md.total_interactions || 0, analyzed_at: md.analyzed_at || new Date().toISOString() } }];"
      }
    },
    {
      "id": "opt-10",
      "name": "Google Sheets — Salvar Análise",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2180, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{$vars.CONTENT_FACTORY_SHEET_ID}}", "mode": "id" },
        "sheetName":  { "__rl": true, "value": "Analises", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analyzed_at":                   "={{$json.analyzed_at}}",
            "performance_rating":             "={{$json.performance_rating}}",
            "score_real":                     "={{$json.score_real}}",
            "engagement_score":               "={{$json.engagement_score}}",
            "total_interactions":             "={{$json.total_interactions}}",
            "insights":                       "={{$json.insights}}",
            "top_problem":                    "={{$json.top_problem}}",
            "optimized_prompt_instructions":  "={{$json.optimized_prompt_instructions}}",
            "best_posting_time":              "={{$json.best_posting_time}}",
            "recommended_content_type":       "={{$json.recommended_content_type}}",
            "next_topic_suggestion":          "={{$json.next_topic_suggestion}}",
            "linkedin_likes":                 "={{$json.linkedin_metrics.likes}}",
            "linkedin_comments":              "={{$json.linkedin_metrics.comments}}",
            "linkedin_shares":                "={{$json.linkedin_metrics.shares}}",
            "instagram_likes":                "={{$json.instagram_metrics.likes}}",
            "instagram_reach":                "={{$json.instagram_metrics.reach}}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "opt-11",
      "name": "Telegram — Relatório de Performance",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2400, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$vars.TELEGRAM_CHAT_ID}}",
        "text": "=Content Factory - Relatorio Diario\n\nData: {{new Date().toLocaleDateString('pt-BR')}}\nPerformance: {{($json.performance_rating || 'N/A').toUpperCase()}} | Score: {{$json.score_real || 0}}/10\nEngajamento: {{$json.engagement_score || 0}}%\n\nLinkedIn: {{$json.linkedin_metrics.likes || 0}} curtidas | {{$json.linkedin_metrics.comments || 0}} comentarios | {{$json.linkedin_metrics.shares || 0}} shares\nInstagram: {{$json.instagram_metrics.likes || 0}} curtidas | {{$json.instagram_metrics.reach || 0}} alcance\n\nInsights: {{$json.insights || 'N/A'}}\nProblema: {{$json.top_problem || 'N/A'}}\nProximo topico: {{$json.next_topic_suggestion || 'N/A'}}\nMelhor horario: {{$json.best_posting_time || '09:00'}}\nFormato ideal: {{$json.recommended_content_type || 'imagem'}}",
        "additionalFields": {}
      }
    },
    {
      "id": "opt-no-posts",
      "name": "Telegram — Sem Posts Hoje",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 520],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$vars.TELEGRAM_CHAT_ID}}",
        "text": "=Content Factory: Nenhum post para analisar hoje. Total na base: {{$json.total_posts || 0}}. Crie novos conteudos!",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Schedule — Análise Diária 9h":         { "main": [[{ "node": "Google Sheets — Ler Posts Publicados", "type": "main", "index": 0 }]] },
    "Google Sheets — Ler Posts Publicados": { "main": [[{ "node": "Code — Filtrar Posts 24h+", "type": "main", "index": 0 }]] },
    "Code — Filtrar Posts 24h+":            { "main": [[{ "node": "IF — Há Posts Para Analisar?", "type": "main", "index": 0 }]] },
    "IF — Há Posts Para Analisar?":         { "main": [[{ "node": "HTTP — LinkedIn Analytics", "type": "main", "index": 0 }, { "node": "HTTP — Instagram Insights", "type": "main", "index": 0 }], [{ "node": "Telegram — Sem Posts Hoje", "type": "main", "index": 0 }]] },
    "HTTP — LinkedIn Analytics":            { "main": [[{ "node": "Merge — Aguardar Analytics", "type": "main", "index": 0 }]] },
    "HTTP — Instagram Insights":            { "main": [[{ "node": "Merge — Aguardar Analytics", "type": "main", "index": 1 }]] },
    "Merge — Aguardar Analytics":           { "main": [[{ "node": "Code — Consolidar Métricas", "type": "main", "index": 0 }]] },
    "Code — Consolidar Métricas":           { "main": [[{ "node": "AI Agent — Analisar Performance", "type": "main", "index": 0 }]] },
    "AI Agent — Analisar Performance":      { "main": [[{ "node": "Code — Parsear Recomendações", "type": "main", "index": 0 }]] },
    "Claude Sonnet — Optimizer":            { "ai_languageModel": [[{ "node": "AI Agent — Analisar Performance", "type": "ai_languageModel", "index": 0 }]] },
    "Code — Parsear Recomendações":         { "main": [[{ "node": "Google Sheets — Salvar Análise", "type": "main", "index": 0 }]] },
    "Google Sheets — Salvar Análise":       { "main": [[{ "node": "Telegram — Relatório de Performance", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
