n8n-ai-sdr-brasileiro/wf1-qualificacao-whatsapp.json
{
  "name": "🤖 AI SDR BR - Parte 1: Qualificação via WhatsApp",
  "nodes": [
    {
      "id": "n01",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sdr-whatsapp",
        "responseMode": "lastNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "n02",
      "name": "Extrair Contexto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f01",
              "name": "phone",
              "value": "={{ ($json.data && $json.data.key && $json.data.key.remoteJid ? $json.data.key.remoteJid : '').replace('@s.whatsapp.net','').replace('@g.us','') }}",
              "type": "string"
            },
            {
              "id": "f02",
              "name": "pushName",
              "value": "={{ $json.data && $json.data.pushName ? $json.data.pushName : 'Lead' }}",
              "type": "string"
            },
            {
              "id": "f03",
              "name": "message",
              "value": "={{ $json.data && $json.data.message ? ($json.data.message.conversation || ($json.data.message.extendedTextMessage ? $json.data.message.extendedTextMessage.text : '') || '') : '' }}",
              "type": "string"
            },
            {
              "id": "f04",
              "name": "isGroup",
              "value": "={{ $json.data && $json.data.key && $json.data.key.remoteJid ? $json.data.key.remoteJid.includes('@g.us') : false }}",
              "type": "boolean"
            },
            {
              "id": "f05",
              "name": "fromMe",
              "value": "={{ $json.data && $json.data.key && $json.data.key.fromMe === true ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "f06",
              "name": "instance",
              "value": "={{ $json.instance ? $json.instance : $env.EVOLUTION_INSTANCE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n03",
      "name": "Mensagem Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c01",
              "leftValue": "={{ $json.isGroup }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "c02",
              "leftValue": "={{ $json.fromMe }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "c03",
              "leftValue": "={{ $json.message }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "c04",
              "leftValue": "={{ $json.phone }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "n04",
      "name": "Ignorar Mensagem",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        520
      ],
      "parameters": {}
    },
    {
      "id": "n05",
      "name": "Buscar Lead no CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ $('Extrair Contexto').item.json.phone }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true,
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:Z"
            }
          }
        }
      }
    },
    {
      "id": "n06",
      "name": "Buscar Catalogo RAG",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Produtos",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:Z"
            }
          }
        }
      }
    },
    {
      "id": "n07",
      "name": "Montar Sessao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "var ctx = $('Extrair Contexto').first().json;\n\nvar lead = null;\ntry {\n  var rows = $('Buscar Lead no CRM').all();\n  if (rows.length > 0 && rows[0].json && rows[0].json.Phone) {\n    lead = rows[0].json;\n  }\n} catch(e) { lead = null; }\n\nvar catalog = [];\ntry {\n  var catRows = $('Buscar Catalogo RAG').all();\n  for (var i = 0; i < catRows.length; i++) {\n    if (catRows[i].json && catRows[i].json.Nome) {\n      catalog.push(catRows[i].json);\n    }\n  }\n} catch(e) { catalog = []; }\n\nvar history = [];\nif (lead && lead.ConversationHistory) {\n  try {\n    var p = JSON.parse(lead.ConversationHistory);\n    history = Array.isArray(p) ? p.slice(-20) : [];\n  } catch(e) { history = []; }\n}\n\nvar rawMessage = ctx.message || '';\nvar currentMessage = rawMessage.length > 2000 ? rawMessage.substring(0, 2000) : rawMessage;\n\nvar now = new Date().toISOString();\nreturn [{ json: {\n  phone:           ctx.phone,\n  instance:        ctx.instance,\n  currentMessage:  currentMessage,\n  pushName:        ctx.pushName,\n  isNewLead:       lead === null,\n  name:            (lead && lead.Name)             ? lead.Name            : ctx.pushName,\n  company:         (lead && lead.Company)          ? lead.Company         : '',\n  cnpj:            (lead && lead.CNPJ)             ? lead.CNPJ            : '',\n  email:           (lead && lead.Email)            ? lead.Email           : '',\n  stage:           (lead && lead.Stage)            ? lead.Stage           : 'NOVO',\n  fitScore:        (lead && lead.FitScore)         ? parseInt(lead.FitScore) : 0,\n  productInterest: (lead && lead.ProductInterest)  ? lead.ProductInterest : '',\n  budget:          (lead && lead.Budget)           ? lead.Budget          : '',\n  createdAt:       (lead && lead.CreatedAt)        ? lead.CreatedAt       : now,\n  history:         history,\n  catalog:         catalog\n}}];"
      }
    },
    {
      "id": "n08",
      "name": "Preparar Prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "jsCode": "var s = $input.first().json;\n\nvar catLines = [];\nfor (var i = 0; i < s.catalog.length; i++) {\n  var p = s.catalog[i];\n  var line = '- ' + p.Nome;\n  if (p.Descricao)   line = line + ': ' + p.Descricao;\n  if (p.Preco)       line = line + ' | R$ ' + p.Preco;\n  if (p.PublicoAlvo) line = line + ' | Publico: ' + p.PublicoAlvo;\n  catLines.push(line);\n}\nvar catText = catLines.length > 0 ? catLines.join('\\n') : 'Catalogo nao configurado. Pergunte a necessidade e informe que consultara detalhes.';\n\nvar lgpdNota = s.isNewLead\n  ? 'LGPD: No primeiro contato, inclua na apresentacao: \"Para melhorar nosso atendimento, armazenamos o historico desta conversa conforme a Lei 13.709/2018 (LGPD). Voce pode solicitar remocao dos dados respondendo REMOVER DADOS.\"\\n\\n'\n  : '';\n\nvar system = 'Voce e Sofia, SDR de IA para o mercado B2B brasileiro.\\n'\n  + 'Qualifique leads pelo WhatsApp com naturalidade e foco.\\n\\n'\n  + lgpdNota\n  + 'ESTAGIO: ' + s.stage + '\\n'\n  + 'LEAD: ' + s.name + ' | Empresa: ' + (s.company || 'nao informado') + '\\n'\n  + 'CNPJ: ' + (s.cnpj || 'nao informado') + ' | Email: ' + (s.email || 'nao informado') + '\\n'\n  + 'Produto interesse: ' + (s.productInterest || 'nao identificado') + '\\n'\n  + 'Orcamento: ' + (s.budget || 'nao informado') + ' | FitScore: ' + s.fitScore + '/10\\n\\n'\n  + 'CATALOGO DE PRODUTOS:\\n' + catText + '\\n\\n'\n  + 'INSTRUCOES:\\n'\n  + 'NOVO: Apresente-se como Sofia, mencione LGPD conforme nota acima, colete nome e empresa.\\n'\n  + 'QUALIFICANDO: Use BANT suavizado. Um dado por mensagem.\\n'\n  + 'PROPOSTA_PENDENTE: Confirme dados e avise que prepara proposta.\\n'\n  + 'Se o lead disser REMOVER DADOS: responda que o pedido sera processado e defina stage=DESCARTADO.\\n\\n'\n  + 'REGRAS:\\n'\n  + '1. Responda APENAS em portugues brasileiro natural\\n'\n  + '2. Maximo 120 palavras por resposta\\n'\n  + '3. No maximo 1 emoji por mensagem\\n'\n  + '4. Nao invente informacoes de produtos\\n'\n  + '5. Se lead mencionar CNPJ de 14 digitos, salve em lead_updates.CNPJ\\n'\n  + '6. ready_for_proposal=true apenas com nome+empresa+produto+orcamento confirmados\\n'\n  + '7. FitScore 0-10: 0=descartado 5=morno 8+=quente\\n\\n'\n  + 'RETORNE SOMENTE JSON puro sem markdown:\\n'\n  + 'chaves: reply stage lead_updates ready_for_proposal reasoning\\n'\n  + 'lead_updates contem: Name Company CNPJ Email ProductInterest Budget FitScore';\n\nvar messages = [{ role: 'system', content: system }];\nfor (var j = 0; j < s.history.length; j++) {\n  messages.push(s.history[j]);\n}\nmessages.push({ role: 'user', content: s.currentMessage });\n\nreturn [{ json: {\n  payload: {\n    model: 'gpt-4o',\n    max_tokens: 600,\n    temperature: 0.5,\n    response_format: { type: 'json_object' },\n    messages: messages\n  },\n  session: s\n}}];"
      }
    },
    {
      "id": "n09",
      "name": "IA SDR GPT-4o",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "id": "n10",
      "name": "Parsear Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ],
      "parameters": {
        "jsCode": "var session = $('Preparar Prompt IA').first().json.session;\nvar ai = null;\nvar parseError = '';\n\ntry {\n  var raw = $input.first().json;\n  if (!raw) throw new Error('resposta vazia');\n  if (!raw.choices) throw new Error('sem choices');\n  if (!Array.isArray(raw.choices)) throw new Error('choices nao eh array');\n  if (raw.choices.length === 0) throw new Error('choices vazio');\n  var content = raw.choices[0].message.content;\n  if (!content) throw new Error('content vazio');\n  if (typeof content !== 'string') throw new Error('content nao string');\n  var parsed = JSON.parse(content);\n  if (!parsed) throw new Error('parse retornou null');\n  if (typeof parsed !== 'object') throw new Error('nao eh objeto');\n  if (Array.isArray(parsed)) throw new Error('eh array');\n  ai = parsed;\n} catch(e) {\n  parseError = String(e);\n  ai = null;\n}\n\nif (ai === null) {\n  ai = {\n    reply: 'Oi! Tive um probleminha tecnico. Pode repetir? Estou aqui!',\n    stage: session.stage,\n    lead_updates: {},\n    ready_for_proposal: false,\n    reasoning: 'erro parse: ' + parseError\n  };\n}\n\nvar reply = (typeof ai.reply === 'string' && ai.reply) ? ai.reply : 'Como posso ajuda-lo?';\nvar stage = (typeof ai.stage === 'string' && ai.stage) ? ai.stage : session.stage;\nvar lu = (ai.lead_updates && typeof ai.lead_updates === 'object' && !Array.isArray(ai.lead_updates)) ? ai.lead_updates : {};\nvar readyForProposal = ai.ready_for_proposal === true;\n\nif (readyForProposal) {\n  var chkName    = (lu.Name    && lu.Name    !== 'null') ? lu.Name    : session.name;\n  var chkCompany = (lu.Company && lu.Company !== 'null') ? lu.Company : session.company;\n  var chkProduct = (lu.ProductInterest && lu.ProductInterest !== 'null') ? lu.ProductInterest : session.productInterest;\n  if (!chkName || !chkCompany || !chkProduct) readyForProposal = false;\n}\n\nvar history = session.history.slice();\nhistory.push({ role: 'user',      content: session.currentMessage });\nhistory.push({ role: 'assistant', content: reply });\nif (history.length > 20) history = history.slice(-20);\n\nfunction pick(a, b) {\n  if (a && typeof a === 'string' && a !== 'null') return a;\n  return b || '';\n}\n\nvar fitScoreVal = session.fitScore;\nif (lu.FitScore !== null && lu.FitScore !== undefined && lu.FitScore !== 'null') {\n  fitScoreVal = lu.FitScore;\n}\n\nreturn [{ json: {\n  Phone:               session.phone,\n  Name:                pick(lu.Name,            session.name),\n  Company:             pick(lu.Company,         session.company),\n  CNPJ:                pick(lu.CNPJ,            session.cnpj),\n  Email:               pick(lu.Email,           session.email),\n  Stage:               stage,\n  FitScore:            String(fitScoreVal),\n  ProductInterest:     pick(lu.ProductInterest, session.productInterest),\n  Budget:              pick(lu.Budget,          session.budget),\n  ReadyForProposal:    readyForProposal ? 'SIM' : 'NAO',\n  ConversationHistory: JSON.stringify(history),\n  CreatedAt:           session.createdAt,\n  UpdatedAt:           new Date().toISOString(),\n  _reply:              reply,\n  _phone:              session.phone,\n  _instance:           session.instance\n}}];"
      }
    },
    {
      "id": "n11",
      "name": "Salvar Lead CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        300
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Phone"
          ],
          "schema": []
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      }
    },
    {
      "id": "n12",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2400,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL + '/message/sendText/' + $('Parsear Resposta IA').first().json._instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Parsear Resposta IA').first().json._phone, text: $('Parsear Resposta IA').first().json._reply }) }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "n13",
      "name": "Proposta Pronta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "p01",
              "leftValue": "={{ $('Parsear Resposta IA').first().json.ReadyForProposal }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "SIM"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n14",
      "name": "Disparar Proposta PIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2880,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL + '/webhook/sdr-proposta-pix' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Parsear Resposta IA').first().json.Phone, name: $('Parsear Resposta IA').first().json.Name, company: $('Parsear Resposta IA').first().json.Company, cnpj: $('Parsear Resposta IA').first().json.CNPJ, productInterest: $('Parsear Resposta IA').first().json.ProductInterest, budget: $('Parsear Resposta IA').first().json.Budget, instance: $('Extrair Contexto').first().json.instance }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "n15",
      "name": "Typing Indicator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL + '/message/sendPresence/' + $('Extrair Contexto').first().json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Extrair Contexto').first().json.phone, options: { presence: 'composing', delay: 5000 } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "n16",
      "name": "Alerta Falha CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2160,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: 'ALERTA: Falha ao salvar lead no CRM!\\nPhone: ' + $('Parsear Resposta IA').first().json.Phone + '\\nVerificar Google Sheets manualmente.', parse_mode: 'HTML' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "n17",
      "name": "IA SDR GPT-4o-mini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify(Object.assign({}, $('Preparar Prompt IA').first().json.payload, { model: 'gpt-4o-mini', max_tokens: 600 })) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "n18",
      "name": "Solicitacao LGPD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2640,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "r01",
              "leftValue": "={{ $('Parsear Resposta IA').first().json.Stage }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "DESCARTADO"
            },
            {
              "id": "r02",
              "leftValue": "={{ $('Montar Sessao').first().json.currentMessage }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "REMOVER"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n19",
      "name": "Executar Exclusao LGPD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2880,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL + '/webhook/lead-exclusao' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Parsear Resposta IA').first().json.Phone }) }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extrair Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Contexto": {
      "main": [
        [
          {
            "node": "Mensagem Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Valida?": {
      "main": [
        [
          {
            "node": "Buscar Lead no CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead no CRM": {
      "main": [
        [
          {
            "node": "Buscar Catalogo RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Catalogo RAG": {
      "main": [
        [
          {
            "node": "Montar Sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Sessao": {
      "main": [
        [
          {
            "node": "Preparar Prompt IA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Typing Indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "IA SDR GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA SDR GPT-4o": {
      "main": [
        [
          {
            "node": "Parsear Resposta IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA SDR GPT-4o-mini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Resposta IA": {
      "main": [
        [
          {
            "node": "Salvar Lead CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Lead CRM": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Falha CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta WhatsApp": {
      "main": [
        [
          {
            "node": "Proposta Pronta?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Solicitacao LGPD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposta Pronta?": {
      "main": [
        [
          {
            "node": "Disparar Proposta PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA SDR GPT-4o-mini": {
      "main": [
        [
          {
            "node": "Parsear Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Falha CRM": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitacao LGPD?": {
      "main": [
        [
          {
            "node": "Executar Exclusao LGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}