n8n-ai-sdr-brasileiro/workflows/wf4-exclusao-lgpd.json
{
  "name": "🗑️ AI SDR BR - Parte 4: Exclusão de Dados (LGPD)",
  "nodes": [
    {
      "id": "w4n01",
      "name": "Webhook Exclusao LGPD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-exclusao",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "w4n02",
      "name": "Validar Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "jsCode": "var body = $input.first().json;\nvar phone = body.phone ? String(body.phone).replace(/\\D/g, '') : '';\nvar valid = phone.length >= 10 && phone.length <= 13;\nvar out = {};\nout.valid = valid;\nout.phone = phone;\nout.error = valid ? '' : 'Telefone invalido. Informe DDD + numero. Ex: 5511999999999';\nreturn [{ json: out }];"
      }
    },
    {
      "id": "w4n03",
      "name": "Phone Valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c01",
              "leftValue": "={{ $json.valid }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "w4n04",
      "name": "Responder 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: $('Validar Phone').first().json.error }) }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "w4n05",
      "name": "Buscar Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ $('Validar Phone').first().json.phone }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true,
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:Z"
            }
          }
        }
      }
    },
    {
      "id": "w4n06",
      "name": "Lead Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c01",
              "leftValue": "={{ $json.Phone }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "w4n07",
      "name": "Responder 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'not_found', message: 'Nenhum dado encontrado para este telefone.' }) }}",
        "options": {
          "responseCode": 404
        }
      }
    },
    {
      "id": "w4n08",
      "name": "Anonimizar Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "var phone = $('Validar Phone').first().json.phone;\nvar now = new Date().toISOString();\nvar out = {};\nout.Phone = phone;\nout.Name = 'REMOVIDO';\nout.Company = 'REMOVIDO';\nout.CNPJ = 'REMOVIDO';\nout.Email = 'REMOVIDO';\nout.Stage = 'REMOVIDO_LGPD';\nout.FitScore = '0';\nout.ProductInterest = 'REMOVIDO';\nout.Budget = 'REMOVIDO';\nout.ReadyForProposal = 'NAO';\nout.ConversationHistory = '[]';\nout.PIX_TxID = 'REMOVIDO';\nout.PIX_CopiaCola = 'REMOVIDO';\nout.UpdatedAt = now;\nout._phone = phone;\nreturn [{ json: out }];"
      }
    },
    {
      "id": "w4n09",
      "name": "Salvar Anonimizado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Phone"
          ],
          "schema": []
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      }
    },
    {
      "id": "w4n10",
      "name": "Notificar Equipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: 'LGPD - Solicitacao de exclusao processada!\\nTelefone anonimizado: ' + $('Anonimizar Lead').first().json._phone + '\\nData: ' + new Date().toISOString() + '\\nDados substituidos por REMOVIDO conforme Lei 13.709/2018.', parse_mode: 'HTML' }) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "w4n11",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1920,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'Seus dados foram removidos com sucesso conforme a Lei 13.709/2018 (LGPD). Protocolo: ' + new Date().getTime() }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Exclusao LGPD": {
      "main": [
        [
          {
            "node": "Validar Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Phone": {
      "main": [
        [
          {
            "node": "Phone Valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Valido?": {
      "main": [
        [
          {
            "node": "Buscar Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead": {
      "main": [
        [
          {
            "node": "Lead Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Existe?": {
      "main": [
        [
          {
            "node": "Anonimizar Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anonimizar Lead": {
      "main": [
        [
          {
            "node": "Salvar Anonimizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Anonimizado": {
      "main": [
        [
          {
            "node": "Notificar Equipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Equipe": {
      "main": [
        [
          {
            "node": "Responder 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}